@import "tailwindcss";

@theme {
  /* O Tailwind agora lê a cor da variável CSS --primary */
  --color-primary: var(--primary);
  --color-mid: var(--mid);
}

:root {
  /* ÚNICO LUGAR PARA MUDAR A COR DO SITE TODO */
  --primary: #067ee0; 
  --mid: #2b2b2b; 

  background-color: #000000;
  color: #f4f4f5; 
}

html {
  scroll-behavior: smooth;
}

/* Custom Glass Card */
.glass-card {
  background: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.glass-card:hover {
  /* Usando a variável para manter a consistência */
  border-color: var(--primary);
  background: rgba(20, 20, 20, 0.9);
}
